$foo: 20px;
html {
  min-height: 100vb;
  // height: fit-content;
  border-top: $foo solid greenyellow;
  border-right:  $foo solid red;
  border-left:  $foo solid goldenrod;
  border-bottom:  $foo solid green;
}